 header {
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px #CCCCCC;
}
header .logo {
    background-image: url('../images/logo.png');
    width: 120;
    height: 60px;
    background-repeat: no-repeat;
}